[user]
	name = Hersh Singh
	email = hershdeep@gmail.com
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache
[core]
	autocrlf = input
	safecrlf = true

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
