!# Emacs
Emacs.font: Iosevka-12

!# URxvt
URxvt*loginShell:true
URxvt*transparent:false
URxvt*shading:5
URxvt*scrollBar:false
URxvt*scrollBar_right:false
URxvt*scrollBar_floating:false
URxvt*scrollstyle:plain
URxvt*secondaryScroll:true
URxvt*letterSpace:0.7

!# how many lines you want it to save per session
URxvt*saveLines:32767

URxvt*font: xft:Inconsolata:antialias=true:pixelsize=18
URxvt*boldFont: xft:Inconsolata:style=bold:antialias=true:pixelsize=18
URxvt*italicFont: xft:Inconsolata:style=italic:antialias=true:pixelsize=18
URxvt*boldItalicFont: xft:Inconsolata:style=bolditalic:antialias=true:pixelsize=18

!# with this set to true, when an app sends a bell to the terminal, awesome hilights the appropriate tag(s) 
URxvt*urgentOnBell: true

! 'font-size' perl extension enables changing the font on-the-fly. Install 'urxvt-font-size-git' from AUR.
! 'clipboard' extension allows interaction with X clipboard.
URxvt*perl-ext-common: default,matcher,clipboard,font-size

! 'font-size' extension mappings
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

!URxvt*perl-ext-common: default,matcher,-option-popup,-selection-popup,-realine,clipboard
URxvt*matcher.button: 1

! Bindings for copy-paste, as given in the clipboard extension
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

! Need to do this for Control+Shift mappings to work.
URxvt.iso14755: false

! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
! dont forget to change this to your favorite browser
URxvt*urlLauncher: firefox


! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

URxvt*background:              S_base03
URxvt*foreground:              S_base0
URxvt*fading:                  40
URxvt*fadeColor:               S_base03
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URxvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxvt*color15: S_base3

! ------------------------------------------------------------------------------
! ROFI Color theme
! User: Rasi
! ------------------------------------------------------------------------------
rofi.font: Iosevka 14
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #003643, #008ed4, #ffffff
rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661
